#home_page_image {
  max-height: 95vh;
}

#transparent_image {
  max-width: 100vh;
  opacity: 0;
}

.text-content {
  padding: 20px 20px 20px 20px;
}

.img {
  max-height: 30vw;
  overflow-y: hidden;
}

/* Light Mode (default) */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
